In [166]:
import pandas as pd
import dask.dataframe as dd
from pathlib import Path
from sqlalchemy import create_engine, text

In [167]:
#Reading in the source file for the project
file_path = 'Resources/wdl_data_en_reduced.csv'
# Specifying encoding as'ISO-8859-1' to read file
loc_df = pd.read_csv(file_path, encoding='utf-8')

C:\Users\Cait\AppData\Local\Temp\ipykernel_29384\2306786982.py:4: DtypeWarning: Columns (0,20,33,34,36,37,41,42,43,49,52,54,55,62,63,66,69,70,71,72,74,76,81,82,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  loc_df = pd.read_csv(file_path, encoding='utf-8')

In [168]:
loc_df.columns

Index(['wdl_id', 'title', 'collection', 'description', 'wdl_url',
       'Type of Item', 'Institution', 'Photographer', 'Date Created',
       'Subject Date', 'Place', 'Dewey Decimal Code', 'Additional Subjects',
       'Physical Description', 'Creator', 'Publisher', 'Language', 'Artist',
       'Cartographer', 'Note', 'Delineator', 'Author', 'Surveyor', 'Compiler',
       'Translator', 'Contributor', 'Engraver', 'Cinematographer', 'Director',
       'Illustrator', 'Sponsor', 'Draftsman', 'Editor', 'Corrector',
       'Responsible Party', 'Calligrapher', 'Interviewee', 'Interviewer',
       'Associated Name', 'Printer', 'Lithographer', 'Donor',
       'Recording Engineer', 'Musician', 'Composer', 'Architect', 'References',
       'Attributed Name', 'Dedicatee', 'Signer', 'Copyright Holder',
       'Collector', 'Printmaker', 'Copyright claimant', 'Performer', 'Owner',
       'Commentator', 'Etcher', 'Wood-engraver', 'Scribe',
       'Author of Introduction, etc.', 'Author of Afterword, Colophon, etc.',
       'Scientific advisor', 'Speaker', 'Commentator for Written Text',
       'Illuminator', 'Librettist', 'Client', 'Transcriber', 'Collaborator',
       'Producer', 'Videographer', 'Vocalist', 'Patron', 'Funder', 'Annotator',
       'Woodcutter', 'Designer', 'Author in Quotations or Text Extracts',
       'Lyricist', 'Type Designer', 'Animator', 'Writer of added text',
       'Project Director', 'Dubious Author', 'Censor', 'Engineer', 'Lead',
       'Publishing Director', 'Singer', 'Binder', 'Originator', 'Typographer',
       'Book producer', 'Narrator', 'Colorist', 'Arranger', 'Recipient',
       'Correspondent'],
      dtype='object')

In [169]:
loc_df['item_id'] = loc_df.index
loc_df.head()

,wdl_id,title,collection,description,wdl_url,Type of Item,Institution,Photographer,Date Created,Subject Date,...,Binder,Originator,Typographer,Book producer,Narrator,Colorist,Arranger,Recipient,Correspondent,item_id
0,1,"Antietam, Maryland. Allan Pinkerton, President...",NaN,"At the outset of the U.S. Civil War, Mathew Br...",https://www.wdl.org/en/item/1,"Prints, Photographs",Library of Congress,"Gardner, Alexander, 1821-1882",1862-10-03,1862-10-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,"Chola Woman, Full-Length Portrait, Standing, F...",Frank and Frances Carpenter Collection,This photograph of a Bolivian woman is from th...,https://www.wdl.org/en/item/2,"Prints, Photographs",Library of Congress,"Vargas, Max T., 1874–1959",1911,1900/1923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,3,"Maps of Ezo, Sakhalin, and Kuril Islands",NaN,This map was made by Fujita Junsai and publish...,https://www.wdl.org/en/item/3,Maps,Library of Congress,NaN,1854,1854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,4,Warrior Asahina Kobayashi,Japanese Prints and Drawings Collection,The Japanese art of Ukiyo-e (“Pictures of the ...,https://www.wdl.org/en/item/4,"Prints, Photographs",Library of Congress,NaN,1862,1862,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,5,"Manuscript Map of Dagua River Region, Colombia",NaN,This beautiful pen-and-ink and watercolor map ...,https://www.wdl.org/en/item/5,Maps,Library of Congress,NaN,1764,1764,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [170]:
loc_df.drop(columns=['wdl_id','Creator','Delineator', 'Author', 'Surveyor', 'Compiler',
       'Translator', 'Contributor', 'Engraver', 'Cinematographer', 'Director',
       'Illustrator', 'Sponsor', 'Draftsman', 'Editor', 'Corrector',
       'Responsible Party', 'Calligrapher', 'Interviewee', 'Interviewer',
       'Associated Name', 'Printer', 'Lithographer', 'Donor',
       'Recording Engineer', 'Musician', 'Composer', 'Architect', 'References',
       'Attributed Name', 'Dedicatee', 'Signer', 'Copyright Holder',
       'Collector', 'Printmaker', 'Copyright claimant', 'Performer', 'Owner',
       'Commentator', 'Etcher', 'Wood-engraver', 'Scribe',
       'Author of Introduction, etc.', 'Author of Afterword, Colophon, etc.',
       'Scientific advisor', 'Speaker', 'Commentator for Written Text',
       'Illuminator', 'Librettist', 'Client', 'Transcriber', 'Collaborator',
       'Producer', 'Videographer', 'Vocalist', 'Patron', 'Funder', 'Annotator',
       'Woodcutter', 'Designer', 'Author in Quotations or Text Extracts',
       'Lyricist', 'Type Designer', 'Animator', 'Writer of added text',
       'Project Director', 'Dubious Author', 'Censor', 'Engineer', 'Lead',
       'Publishing Director', 'Singer', 'Binder', 'Originator', 'Typographer',
       'Book producer', 'Narrator', 'Colorist', 'Arranger', 'Recipient',
       'Correspondent','Creator','Language', 'Artist',
       'Cartographer', 'Note','Photographer','Place','Subject Date','Additional Subjects','description','Physical Description'], inplace=True)
loc_df.head()

,title,collection,wdl_url,Type of Item,Institution,Date Created,Dewey Decimal Code,Publisher,item_id
0,"Antietam, Maryland. Allan Pinkerton, President...",NaN,https://www.wdl.org/en/item/1,"Prints, Photographs",Library of Congress,1862-10-03,973,NaN,0
1,"Chola Woman, Full-Length Portrait, Standing, F...",Frank and Frances Carpenter Collection,https://www.wdl.org/en/item/2,"Prints, Photographs",Library of Congress,1911,391,NaN,1
2,"Maps of Ezo, Sakhalin, and Kuril Islands",NaN,https://www.wdl.org/en/item/3,Maps,Library of Congress,1854,912,Harimaya Katsugorō,2
3,Warrior Asahina Kobayashi,Japanese Prints and Drawings Collection,https://www.wdl.org/en/item/4,"Prints, Photographs",Library of Congress,1862,769|792,NaN,3
4,"Manuscript Map of Dagua River Region, Colombia",NaN,https://www.wdl.org/en/item/5,Maps,Library of Congress,1764,912,NaN,4

In [171]:
loc_df['Dewey Decimal Code'] = loc_df['Dewey Decimal Code'].replace('\|', '.', regex=True)
loc_df.head()

,title,collection,wdl_url,Type of Item,Institution,Date Created,Dewey Decimal Code,Publisher,item_id
0,"Antietam, Maryland. Allan Pinkerton, President...",NaN,https://www.wdl.org/en/item/1,"Prints, Photographs",Library of Congress,1862-10-03,973,NaN,0
1,"Chola Woman, Full-Length Portrait, Standing, F...",Frank and Frances Carpenter Collection,https://www.wdl.org/en/item/2,"Prints, Photographs",Library of Congress,1911,391,NaN,1
2,"Maps of Ezo, Sakhalin, and Kuril Islands",NaN,https://www.wdl.org/en/item/3,Maps,Library of Congress,1854,912,Harimaya Katsugorō,2
3,Warrior Asahina Kobayashi,Japanese Prints and Drawings Collection,https://www.wdl.org/en/item/4,"Prints, Photographs",Library of Congress,1862,769.792,NaN,3
4,"Manuscript Map of Dagua River Region, Colombia",NaN,https://www.wdl.org/en/item/5,Maps,Library of Congress,1764,912,NaN,4

In [172]:
item_type_df = pd.read_csv('Resources/item_codes_new.csv', encoding='utf-8')
item_type_df.rename(columns = {'Item':'Type of Item'}, inplace = True) 
item_type_df

  item_code         Type of Item
0      prph  Prints, Photographs
1        mp                 Maps
2        bk                Books
3        ms          Manuscripts
4        mp      Motion Pictures
5        sr     Sound Recordings
6        jr             Journals
7        np           Newspapers

In [173]:
items_df = loc_df.merge(item_type_df,how='inner')
items_df.drop(columns=['Type of Item'],inplace=True)
items_df

,title,collection,wdl_url,Institution,Date Created,Dewey Decimal Code,Publisher,item_id,item_code
0,"Antietam, Maryland. Allan Pinkerton, President...",NaN,https://www.wdl.org/en/item/1,Library of Congress,1862-10-03,973,NaN,0,prph
1,"Chola Woman, Full-Length Portrait, Standing, F...",Frank and Frances Carpenter Collection,https://www.wdl.org/en/item/2,Library of Congress,1911,391,NaN,1,prph
2,Warrior Asahina Kobayashi,Japanese Prints and Drawings Collection,https://www.wdl.org/en/item/4,Library of Congress,1862,769.792,NaN,3,prph
3,House of Ichizuke,Japanese Prints and Drawings Collection,https://www.wdl.org/en/item/8,Library of Congress,1804,306.769,NaN,7,prph
4,The Actor Nakamura Utaemon in the Role of Kato...,Japanese Prints and Drawings Collection,https://www.wdl.org/en/item/9,Library of Congress,1818/1830,792,NaN,8,prph
...,...,...,...,...,...,...,...,...,...
23855,"Al-Arab, Volume 3, Number 871, May 29, 1920",Al-Arab Newspaper Collection,https://www.wdl.org/en/item/12868,Iraqi National Library and Archives,5/29/1920,079.956,Al-Arab Printing House,23160,np
23856,"Al-Arab, Volume 3, Number 872, May 31, 1920",Al-Arab Newspaper Collection,https://www.wdl.org/en/item/12869,Iraqi National Library and Archives,5/31/1920,079.956,Al-Arab Printing House,23161,np
23857,"Al-Arab, Volume 3, Number 869, May 27, 1920",Al-Arab Newspaper Collection,https://www.wdl.org/en/item/12870,Iraqi National Library and Archives,5/27/1920,079.956,Al-Arab Printing House,23162,np
23858,"The Sun of the Day, Volume 1, Number 7, Decemb...",Sun of the Day Periodical Collection,https://www.wdl.org/en/item/13029,Library of Congress,1873-12-06,059.958,Shams Al-Nahār Press,23316,np
23859,"The Sun of the Day, Volume 1, Number 9, Januar...",Sun of the Day Periodical Collection,https://www.wdl.org/en/item/13030,Library of Congress,1874-01-26,059.958,Shams Al-Nahār Press,23317,np

In [174]:
col_type_df = pd.read_csv('Resources/col_mapping_new.csv', encoding='utf-8')
col_type_df.head()

     col                               collection
0  col_1                           Non-Collection
1  col_2   Frank and Frances Carpenter Collection
2  col_3  Japanese Prints and Drawings Collection
3  col_4                Henry Harrisse Collection
4  col_5                    United States History

In [175]:
items_df = items_df.merge(col_type_df,how='inner')
items_df.drop(columns='collection',inplace=True)
items_df.head()

,title,wdl_url,Institution,Date Created,Dewey Decimal Code,Publisher,item_id,item_code,col
0,"Chola Woman, Full-Length Portrait, Standing, F...",https://www.wdl.org/en/item/2,Library of Congress,1911,391,NaN,1,prph,col_2
1,"Two Jewish Women Standing, Facing Each Other, ...",https://www.wdl.org/en/item/15,Library of Congress,1900/1923,391,NaN,14,prph,col_2
2,Korea,https://www.wdl.org/en/item/132,Library of Congress,1915,951,NaN,127,prph,col_2
3,Young Albania,https://www.wdl.org/en/item/225,Library of Congress,1923,391.949,NaN,218,prph,col_2
4,"Zulu Chief, South Africa",https://www.wdl.org/en/item/229,Library of Congress,1895,968,NaN,222,prph,col_2

In [176]:
ins_type_df = pd.read_csv('Resources/ins_mapping_new.csv', encoding='utf-8')
ins_type_df.head()

  ins_key                          Institution
0   ins_1                  Library of Congress
1   ins_2           National Library of Brazil
2   ins_3                Russian State Library
3   ins_4           National Library of Russia
4   ins_5  Mamma Haidara Commemorative Library

In [177]:
items_df = items_df.merge(ins_type_df,how='inner')
items_df.drop(columns='Institution',inplace=True)
items_df.head()

,title,wdl_url,Date Created,Dewey Decimal Code,Publisher,item_id,item_code,col,ins_key
0,"Chola Woman, Full-Length Portrait, Standing, F...",https://www.wdl.org/en/item/2,1911,391,NaN,1,prph,col_2,ins_1
1,"Two Jewish Women Standing, Facing Each Other, ...",https://www.wdl.org/en/item/15,1900/1923,391,NaN,14,prph,col_2,ins_1
2,Korea,https://www.wdl.org/en/item/132,1915,951,NaN,127,prph,col_2,ins_1
3,Young Albania,https://www.wdl.org/en/item/225,1923,391.949,NaN,218,prph,col_2,ins_1
4,"Zulu Chief, South Africa",https://www.wdl.org/en/item/229,1895,968,NaN,222,prph,col_2,ins_1

In [178]:
pub_type_df = pd.read_csv('Resources/pub_mapping_new.csv', encoding='utf-8')
pub_type_df.head()

  pub_key                   Publisher
0   pub_1                     unknown
1   pub_2          Harimaya Katsugorō
2   pub_3    Dutch West India Company
3   pub_4        Tobias Conrad Lotter
4   pub_5  American Press Association

In [179]:
items_df = items_df.merge(pub_type_df,how='inner')
items_df.drop(columns='Publisher',inplace=True)
items_df.head()

,title,wdl_url,Date Created,Dewey Decimal Code,item_id,item_code,col,ins_key,pub_key
0,Members of a Royal(?) Family Gathered for a Gr...,https://www.wdl.org/en/item/433,1900/1925,391.967,415,prph,col_2,ins_1,pub_136
1,Large Group of People Gathered Around Some Men...,https://www.wdl.org/en/item/434,1900/1925,967,416,prph,col_2,ins_1,pub_136
2,Members of a Royal(?) Family Gathered for a Gr...,https://www.wdl.org/en/item/433,1900/1925,391.967,12345,prph,col_2,ins_1,pub_136
3,Large Group of People Gathered Around Some Men...,https://www.wdl.org/en/item/434,1900/1925,967,12346,prph,col_2,ins_1,pub_136
4,Portuguese Government Gunboat on the Zambesi R...,https://www.wdl.org/en/item/485,1900/1923,967,465,prph,col_2,ins_1,pub_148

In [180]:
items_df = items_df.loc[:,['title','col', 'wdl_url','ins_key','pub_key','Dewey Decimal Code','item_code','Date Created', 'item_id']]

In [181]:
items_df.head()

,title,col,wdl_url,ins_key,pub_key,Dewey Decimal Code,item_code,Date Created,item_id
0,Members of a Royal(?) Family Gathered for a Gr...,col_2,https://www.wdl.org/en/item/433,ins_1,pub_136,391.967,prph,1900/1925,415
1,Large Group of People Gathered Around Some Men...,col_2,https://www.wdl.org/en/item/434,ins_1,pub_136,967,prph,1900/1925,416
2,Members of a Royal(?) Family Gathered for a Gr...,col_2,https://www.wdl.org/en/item/433,ins_1,pub_136,391.967,prph,1900/1925,12345
3,Large Group of People Gathered Around Some Men...,col_2,https://www.wdl.org/en/item/434,ins_1,pub_136,967,prph,1900/1925,12346
4,Portuguese Government Gunboat on the Zambesi R...,col_2,https://www.wdl.org/en/item/485,ins_1,pub_148,967,prph,1900/1923,465

In [182]:
# Export the mapping DataFrame to a CSV file
items_df.to_csv('Resources/items.csv', index=False, sep="|")